* {
  padding: 0px;
  margin: 0px;
}

.first-box {
  display: flex;
  height: 130px;
  opacity: 0.4;
}
.first-box > div {
  background-color: rgb(67, 140, 134);
  flex: 1;
  margin-bottom: 1pt;
}
.first-box > div:nth-child(2) {
  margin-right: 10pt;
  margin-left: 10pt;
}
.second-box {
  display: flex;
  height: 300px;
  background-color: rgb(67, 140, 134);
  opacity: 0.4;
  margin-bottom: 22.5pt;
}
img {
  position: absolute;
  z-index: -1;

  width: 600px;

  object-fit: contain;
  padding: 15px 20px 0px 350px;
}

body {
  margin-right: 1.2cm;
  margin-left: 1.2cm;
  background-color: beige;
  margin-top: 1.2cm;
}

@media (max-width: 768px) {
  .first-box {
    margin: 0 auto !important;
    padding: 0 !important;
  }
  img > .second-box {
    margin: 0 auto !important;
    padding: 0 !important;
  }
}
