.first-box {
  display: flex;
  height: 100px;
  
}
.first-box > div{
  background-color: aqua;
  flex: 1px;
  margin-bottom: 22.5pt;
}
.first-box > div:nth-child(2) {
  margin-right: 2cm;
  margin-left: 2cm;
  
}
.second-box{
    display: grid;
    height: 300px;
    background-color: pink;
    flex: 3px;
    margin-bottom: 22.5pt;
    
}
img{
  
    z-index: -1;
}








